@import '../../node_modules/spectrum-colorpicker/spectrum';

#map-image,
#map-pin-categories {
    .inside {
        padding: 0;
        margin: 0;
    }

    .pin-actions {
        text-align: left;

        .button:first-child {
            margin-right: 10px;
        }
    }

    .button-link:hover {
        background-color: transparent;
    }

    [data-action="interactive-map-pin-remove"], [data-action="interactive-map-remove-icon"] {
        color: #a00;

        &:hover {
            color: #ff0000;
        }
    }
}

#map-image {
    .map-pin-toolbox {
        background-color: #f9f9f9;
        border-bottom: 1px solid #eee;
        padding: 12px;
    }

    .map-container {
        position: relative;
        margin: 12px;

        img {
            width: 100%;
            height: auto;
        }

        img:not(:first-of-type) {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }

    .map-pin {
        width: 22px;
        height: 22px;
        position: absolute;
        fill: #F2FF00;
        transform: translate(-50%, -50%);
        z-index: 99;

        svg {
            displ: block;
            width: 100%;
        }
    }

    [data-map-editor] {
        display: none;
    }

    .button.button-red {
        background: #BA0000;
        border-color: #AA0000 #990000 #990000;
        -webkit-box-shadow: 0 1px 0 #990000;
        box-shadow: 0 1px 0 #990000;
        color: #fff;
        text-decoration: none;
        text-shadow: 0 -1px 1px #990000, 1px 0 1px #990000, 0 1px 1px #990000, -1px 0 1px #990000;
    }

    .map-pin-popup {
        display: none;
        position: absolute;
        bottom: calc(100% + 5px);
        left: 50%;
        transform: translateX(-50%);
        width: 250px;
        background-color: #fff;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0 0 20px rgba(#000, .3);
        z-index: 3;

        input, textarea, select {
            margin-bottom: 5px;
        }

        textarea {
            height: 150px;
        }

        &::before {
            $border-width: 8px;
            $color: #fff;

            content: '';
            display: block;
            position: absolute;
            left: 50%;
            margin-left: -$border-width;
            bottom: -$border-width;

            border-top: $border-width solid $color;
            border-right: $border-width solid transparent;
            border-bottom: none;
            border-left: $border-width solid transparent;
        }
    }

    .pin-actions {
        text-align: right;
    }
}

#map-pin-categories {
    .interactive-map-categories-form,
    .interactive-map-categories-form-edit {
        padding: 12px;
        background-color: #f9f9f9;
        border-bottom: 1px solid #eee;

        label {
            display: inline-block;
            margin-bottom: 2px;
        }

        div + div {
            margin-top: 8px;
        }

        #map-category-pin-icon {
            margin: 8px 0 8px 0;
            width: 22px;
            height: 22px;

            img[src$=".svg"], svg {
                display: block;
                width: 100%;
            }
        }
    }

    .interactive-map-categories-form-edit {
        display: none;
        background-color: #FDFBE3;
    }

    ul {
        padding: 0;
        margin: 0;

        li {
            padding: 8px 12px;
            margin: 0;
        }

        li:nth-child(even) {
            background-color: #FAFAFA;
        }
    }

    [data-action="interactive-map-add-remove-category"],
    [data-action="interactive-map-add-edit-category"] {
        float: right;
        font-size: 17px;
        padding: 0;
        margin: 0;
        height: 17px;
        line-height: 17px;
    }

    [data-action="interactive-map-add-edit-category"] {
        margin-right: 5px;
    }
}

#map-layers {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #eee;

    &:empty {
        display: none;
    }

    counter-reset: maplayers;

    li {
        margin: 0;
        padding: 8px 12px;
        list-style: none;

        &::before {
            counter-increment: maplayers;
            content: counter(maplayers);
            display: inline-block;
            width: 30px;
        }

        & + li {
            border-top: 1px solid #eee;
        }
    }

    li:first-of-type [data-action="interactive-map-toggle-layer"] {
        display: none;
    }

    .actions {
        float: right;

        button + button {
            margin-left: 10px;
        }

        .fa {
            font-size: 1.5em;
        }
    }
}

.ms-wrapper {
    display: inline-block;
    position: relative;

    .ms-options {
        display: none;
        position: absolute;
        top: calc(100% + 2px);
        left: 0;
        min-width: 150px;

        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 0 0 3px 3px;
        z-index: 99;

        label {
            display: block;
            padding: 5px 10px;
        }
    }

    .ms-toggle {
        display: none;
    }

    .ms-placeholder {
        border: 1px solid #ddd;
        line-height: 1.2;
        vertical-align: top;
        padding: 3.5px 6px;
    }

    .ms-placeholder::after {
        content: "\f140";
        font-family: 'dashicons';
        position: relative;
        top: 2px;
    }

    input[type="checkbox"].ms-toggle:checked ~ .ms-options {
        display: block;
    }
}
